# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# MacOS
.DS_Store

# VSCode (opcional)
.vscode/

# Logs
*.log

# Airflow
aula_4_airflow/airflow.cfg
aula_4_airflow/airflow.db
aula_4_airflow/*.db
aula_4_airflow/*.db-shm
aula_4_airflow/*.db-wal

# Airflow runtime files
aula_4_airflow/logs/
aula_4_airflow/simple_auth_manager_passwords.json.generated